<!doctype html>
<html>
	<head>
		<title>Page {% if page.page_title %} - {{ page.page_title }} {% endif %}</title>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css" />
    	<link rel="stylesheet" href="/static/css/style.css" />
	</head>
	<body>
        <div class="pure-g-r" id="layout">
            <div class="sidebar pure-u">
                <header class="header pure-u-1">
                <!--
                    <hgroup>
                        <h1 class="brand-title">Menu</h1>
                    </hgroup>
                -->

                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item first">
                                <a class="pure-button" href="/pages/create">New Page</a>
                            </li>
                            <li class="nav-item last">
                                <a class="pure-button" href="/pages/index">All Pages</a>
                            </li>
                            <li class="nav-item last">
                                <a class="pure-button" href="/categories/index">Categories</a>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>
            <div class="content pure-u-1">
                <!-- A wrapper for all the blog posts -->
                <div class="posts pure-g">
                    <h1 class="content-subhead pure-u-1">All Pages</h1>
                    {% block body %}
                        <section class="post pure-u-1">
            				<ul>
            				{% if pages %}
            				  {% for page in pages %}
            				  <header class="post-header">
            				    <h2 class="post-title pure-u-1"><a href="/pages/view/{{page.id}}">{{ page.page_title }}</a></h2>

                                <p class="post-meta pure-u-1">
                                    By <a class="post-author" href="#">MoreOutput</a> under <a class="post-category" href="#">Uncategorized</a>
                                </p>
            				  </header>
            				  {% endfor %}
            				{% else %}
            				  <header class="post-header">
            				    <h2 class="post-title pure-u-1">No Wiki Pages</h2>
            				  </header>
            				{% endif %}
            			</section>
        			{% endblock %}
                </div>
                <footer class="footer">
                    <div class="pure-menu pure-menu-horizontal pure-menu-open">
                        <ul>
                            <li><a href="">Home</a></li>
                        </ul>
                    </div>
                </footer>
            </div>
        </div>
	   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	</body>
</html>